Repository antonisPanos/waiter-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

fix: resolve husky warning
  .husky/pre-commit
Due: none

docs: add demo info in readme
  README.md
Due: none

chore: version lockfiles
  .gitignore
  pnpm-lock.yaml
Due: none

chore: add test runner and related config
  eslint.config.mjs
  jest.config.js
  package.json
  tests/setup.ts
  tsconfig.json
  tsconfig.test.json
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

ci: install with frozen lockfile
  .github/workflows/ci.yml
Due: none

feat: add optional auth and encryption
  README.md
  package.json
  src/index.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

test: add specs for waiter
  tests/waiter.test.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

chore(release): 1.1.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a59629d0618264a8bd2a5df563689993bc6e36e8
Due: none

docs: update security features description
  README.md
Due: none

docs: fix line breaks on jsdocs
  src/index.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

fix: missing jsdocs return types
  src/index.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

chore(release): 1.1.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e0058213b286146a7b2c2d2560bdaa0504c4e04f
Due: none

chore: simplify messaging process
  README.md
  src/index.ts
  tests/setup.ts
  tests/waiter.test.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

chore(release): 2.0.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  66158d8a785145a80ce38eb92c567a57cfa6c1d1
Due: none

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{js,mjs,ts})
  eslint --no-warn-ignored --max-warnings 0 --fix: any of: *.{js,mjs,ts}
