Repository antonisPanos/waiter-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

.lintstagedrc.json:

{
  "*.json": ["prettier --write"],
  "*.{js,mjs,ts}": ["prettier --write", "eslint --no-warn-ignored --max-warnings 0 --fix"]
}

feat: implement waiter
  src/index.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

docs(readme): update
  README.md
Due: none

Notes added by 'git notes add'
  f65cd66fa522ab2038dd8a2ec490b5c57bea3220
Due: none

fix(readme): package name
  README.md
Due: none

Notes added by 'git notes add'
  99675bcf4157f96604b796b370d383d94a2f1690
Due: none

chore(npm): update package name
  package.json
Due: prettier --write

Notes added by 'git notes add'
  36795c78347e4f2c7d7485394e2257300c6f99e3
Due: none

fix(npm): update package name
  package.json
Due: prettier --write

fix(npm): change access type
  package.json
Due: prettier --write

Notes added by 'git notes add'
  55432df08fca38c68b81f3cb35973260e5b4fe8f
Due: none

chore(semantic-release): add config file for auto increments
  .releaserc
  package.json
Due: prettier --write

fix: typings path
  package.json
Due: prettier --write

chore(release): 1.0.3 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a1683935dffbeed57b25b7339ead24c67f543f97
Due: none

docs(readme): update
  README.md
  package.json
Due: prettier --write

fix(waiter): JSDoc descriptions
  src/index.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

chore(release): 1.0.4 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  982ab3cd4559fc2e1d79ea6bea4dcd43f6e95163
Due: none

chore(readme): improve API formatting
  README.md
Due: none

chore(npm): update keywords
  package.json
Due: prettier --write

fix(waiter): await async handlers
  src/index.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

chore(waiter): improve controller type definition
  src/index.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

chore(release): 1.0.5 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3f862e3861a21a7d218343c9da78bf2ac18b99dd
Due: none

fix(docs): app description
  README.md
  package.json
  src/index.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

chore(release): 1.0.6 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  78bc9a484acd00cdf5d43a1f91b4e51002054a27
Due: none

fix(docs): app description
  README.md
Due: none

chore(release): 1.0.7 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  25874dffdbf39e10e540ccb47b8570357f126bd2
Due: none

feat: add optional auth and encryption
  README.md
  package.json
  src/index.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

ci: install with frozen lockfile
  .github/workflows/ci.yml
Due: none

test: add specs for waiter
  tests/waiter.test.ts
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix

chore: add test runner and related config
  eslint.config.mjs
  jest.config.js
  package.json
  tests/setup.ts
  tsconfig.json
  tsconfig.test.json
Due: prettier --write, eslint --no-warn-ignored --max-warnings 0 --fix
